<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.handstbrice.handballstbrice">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_club"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_club_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PartenairesActivite" />
        <activity android:name=".PartenaireDetailsActivite" />
        <activity android:name=".AccueilActivite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MatchCheckerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".DernierMatchActivite"></activity>
        <activity android:name=".NouveauxMatchsActivite"></activity>
    </application>

</manifest>